body {
    background-image: url('https://www.w3schools.com/w3images/flowers.jpg'); /* Flower background image */
    background-size: cover;
    background-position: center;
    color: pink;    text-align: center;
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    animation: bounceMove 5s ease-in-out infinite; /* Bouncing animation */
}

@keyframes bounceMove {
    0% {
        transform: translateY(-20px); /* Start at -20px (up) */
    }
    50% {
        transform: translateY(20px); /* Move down to 20px */
    }
    100% {
        transform: translateY(-20px); /* Move back up to -20px */
    }
}
p {
    font-size: 40px;
    margin-top: 0;
    color: pink;
    animation: bounceMove 5s ease-in-out infinite; /* Bouncing animation */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
